<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="royal.spring.clinicasanna">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_commerce"
        android:label="Clínica SANNA"
        android:roundIcon="@drawable/logo_commerce"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClinicaSanna">
        <activity android:name=".RegistroFuncionesVitalesActivity" />
        <activity android:name=".CambiarContraseniaActivity" />
        <activity android:name=".RecuperarContraseniaActivity" />
        <activity android:name=".InicarLoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ListadosActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>